.ant-card {
    text-align: center;
}

.action-card {
    overflow: hidden;
    color: #555 !important;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.action-card .action-icon {
    font-size: 32px;
    transition: transform 0.3s ease-in-out;
}

.action-card .action-name {
    margin: 10px 0 4px;
    display: block;
    white-space: nowrap;
    text-align: center;
}

:host ::ng-deep .ant-spin-dot-item {
    background-color: #bc0303 !important;
 }