<div class="header bg-gradient-danger1 pb-1 pt-5 pt-md-4">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row my-2">
                <h2 class="text-white mx-4">Employee Attendance</h2>
            </div>
            <div class="row">
                <h4 *ngIf="totalCount" class="text-white mx-4">Total Attendance: {{totalCount}}
                </h4>
            </div>
            <div class="row justify-content-start mx-0">
                <div class="col-md-3 col-sm-12 pl-2 py-1 px-0">
                    <nz-form-item class="d-block mx-1 my-0">
                        <nz-form-label class="text-white">Employee</nz-form-label>
                        <nz-form-control>
                            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Employee" nzMode="multiple" [nzLoading]="isLoadingEmployee" (ngModelChange)="applyFilter($event,'Employee')" [ngModel]='employeeIdControl.value'>
                                <ng-container *ngFor="let c of employeeList">
                                    <nz-option nzCustomContent [nzValue]="c.id" [nzLabel]="c.fullName">
                                        <span>{{c.fullName}}</span>
                                    </nz-option>
                                </ng-container>

                                <nz-option *ngIf="isLoadingEmployee" nzDisabled nzCustomContent>
                                    <i nz-icon nzType="loading" class="loading-icon"></i> Loading
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="col-md-3 col-sm-12 py-2 px-0 mx-2">
                    <nz-form-item class="d-block mx-1 my-0">
                        <nz-form-label class="text-white">Date</nz-form-label>
                        <nz-form-control>
                            <nz-range-picker [nzFormat]="utility.longDateFormat" [nzShowTime]="false" class="w-100" [nzRanges]="ranges" ngModel (ngModelChange)="applyFilter($event, 'Range')" [nzFormat]="'yyyy-MM-dd'" [ngModel]='defaultDate'>
                            </nz-range-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="col-md col-sm-12 px-1 d-flex py-2 mx-1 justify-content-between row flex-md-row flex-sm-column align-items-md-end align-items-sm-start">

                    <span class="col">
                        <button class="btn btn-icon btn-3 btn-default btn-sm mt-2" type="button" (click)="submitForm(filterForm.value)">
                            <span class="btn-inner--icon"><i class="fas fa-search"></i></span>
                    <span class="btn-inner--text">Search</span>
                    </button>
                    <button class="btn btn-icon btn-3 btn-default btn-sm mt-2" type="button" (click)="submitForm(filterForm.value)">
                            <span class="btn-inner--icon"><i class="fas fa-random"></i></span>
                            <span class="btn-inner--text">Refresh</span>
                        </button>

                    <button class="btn btn-icon btn-3 btn-default btn-sm mt-2" type="button" (click)="showAcceptedModal()">
                            <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                            <span class="btn-inner--text">Add Attendance</span>
                        </button>
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>

<nz-spin *ngIf="loading"></nz-spin>


<div style="overflow-y: scroll; height: 73vh;" *ngIf="employeeAttendance.length != 0">
    <div class="table-responsive">
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">In</th>
                    <th scope="col">OUT</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr style="background: #f6f9fc;" *ngFor="let employee of
                    employeeAttendance;let i=index">
                    <td style="width: 50px;">{{i + 1}}</td>
                    <td style="width: 200px;">{{employee?.employee?.fullName}}
                    </td>
                    <td style="width: 150px;">{{ employee?.checkIn | date: utility.longDateFormat}}</td>
                    <td style="width: 150px;">{{ employee?.checkOut | date: utility.longDateFormat}}</td>
                    <td style="text-align: end;" style="width: 150px;">
                        <button class="btn btn-icon btn-2 btn-success btn-sm
                            text-end" type="button" (click)="showAcceptedModal(employee)">
                            <span class="btn-inner--icon"><i class="fas fa-pen"></i></span>
                        </button>
                        <button class="btn btn-icon btn-2 btn-danger btn-sm" type="button" (click)="showRejectModal(employee)">
                            <span class="btn-inner--icon"><i class="fas
                                    fa-trash"></i></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="h-75 my-5" *ngIf="employeeAttendance.length == 0">
    <nz-empty [nzNotFoundContent]="contentTpl" [nzNotFoundImage]="''">
        <ng-template #contentTpl>
            <div class="d-flex flex-column">
                <span class="my-2">{{selectedText}}</span>
            </div>
        </ng-template>
    </nz-empty>
</div>