:host ::ng-deep .ant-form-item-label > label {
    color: white !important;
    font-weight: 600;
    line-height: 1.5;
}


.ant-list-split .ant-list-item {
    background: white;
    color:  #172b4d;
    padding: 24px;
    margin: 2px 0;
    border-radius: 4px;
}

.btn{
    padding: 0.400rem 1.25rem;
}


.table .thead-light th {
    background-color: #f6f9fc;
    color: black;
    font-size: 12px;
    font-weight: bold;
}

.table-flush tbody tr td, .table-flush tbody tr th {
    border-top: 0;
    color: black;
    font-size: 15px;
    font-weight: 500;
}